section.about 
    .container
        +blockBox('What we do', 'story about us', 'ipsum dolor sit, amet consectetur adipisicing elit. Totam inventore sint repudiandae aliquam animi id odio eum adipisci quis minima quam in provident perferendis molestiae corporis quibusdam aliquid, incidunt facilis.')
        .about-list
            +aboutItem('./images/img-about1.png', 'fa fa-users', 'Super Team')
            +aboutItem('./images/img-about2.png', 'fa fa-users', 'Super Team')
            +aboutItem('./images/img-about3.png', 'fa fa-users', 'Super Team')