section.client 
    .container 
        +blockBox('Happy Clients', 'What people say')
        .client-list 
            +clientItem('./images/img-people1.png', 'Matthew dix', 'Graphic design', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad quod cum aspernatur ea cumque delectus officiis nobis saepe sunt tempore, eos, culpa minima? Totam, saepe! Amet quia laboriosam veritatis nobis!')
            +clientItem('./images/img-people2.png', 'Nick karvounis', 'Graphic design', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad quod cum aspernatur ea cumque delectus officiis nobis saepe sunt tempore, eos, culpa minima? Totam, saepe! Amet quia laboriosam veritatis nobis!')
            +clientItem('./images/img-people3.png', 'Jaelynn castillo', 'Graphic design', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad quod cum aspernatur ea cumque delectus officiis nobis saepe sunt tempore, eos, culpa minima? Totam, saepe! Amet quia laboriosam veritatis nobis!')
            +clientItem('./images/img-people4.png', 'Mike petucci', 'Graphic design', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad quod cum aspernatur ea cumque delectus officiis nobis saepe sunt tempore, eos, culpa minima? Totam, saepe! Amet quia laboriosam veritatis nobis!')
            