section.quote
    .container
        .quote-container 
            //- i.fal.fa-angle-left.quote-arrow-left.quote-arrow
            +quoteItem('ipsum dolor sit amet consectetur adipisicing elit. Perferendis, nulla ex doloremque voluptatem quibusdam voluptas quis, dicta reiciendis laboriosam neque praesentium sint inventore! Repudiandae nostrum suscipit et natus quae sint?', 'Join doe')
            +quoteItem('ipsum dolor sit amet consectetur adipisicing elit. Perferendis, nulla ex doloremque voluptatem quibusdam voluptas quis, dicta reiciendis laboriosam neque praesentium sint inventore! Repudiandae nostrum suscipit et natus quae sint?', 'Join doe')
            +quoteItem('ipsum dolor sit amet consectetur adipisicing elit. Perferendis, nulla ex doloremque voluptatem quibusdam voluptas quis, dicta reiciendis laboriosam neque praesentium sint inventore! Repudiandae nostrum suscipit et natus quae sint?', 'Join doe')
            +quoteItem('ipsum dolor sit amet consectetur adipisicing elit. Perferendis, nulla ex doloremque voluptatem quibusdam voluptas quis, dicta reiciendis laboriosam neque praesentium sint inventore! Repudiandae nostrum suscipit et natus quae sint?', 'Join doe')
            //- i.fal.fa-angle-right.quote-arrow-right.quote-arrow