section.service
    +blockBox('We work with', 'amazing services')
    .container
        .service-list 
            +serviceItem('./images/img-service-icon1.png', 'Photography', 'ipsum dolor sit amet consectetur adipisicing elit. Provident, fugit. Unde, laborum dolorum.')
            +serviceItem('./images/img-service-icon2.png', 'Web design', 'ipsum dolor sit amet consectetur adipisicing elit. Provident, fugit. Unde, laborum dolorum.')
            +serviceItem('./images/img-service-icon3.png', 'Creativity', 'ipsum dolor sit amet consectetur adipisicing elit. Provident, fugit. Unde, laborum dolorum.')
        .service-list 
            +serviceItem('./images/img-service-icon4.png', 'Seo', 'ipsum dolor sit amet consectetur adipisicing elit. Provident, fugit. Unde, laborum dolorum.')
            +serviceItem('./images/img-service-icon5.png', 'Css/Html', 'ipsum dolor sit amet consectetur adipisicing elit. Provident, fugit. Unde, laborum dolorum.')
            +serviceItem('./images/img-service-icon6.png', 'Digital', 'ipsum dolor sit amet consectetur adipisicing elit. Provident, fugit. Unde, laborum dolorum.')