section.story
    .container
        +blockBox('Our stories', 'Latest blog')
        .story-list 
            +storyItem('./images/img-blog1.png', '15', 'Jan', 'Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet', 'ipsum dolor sit amet consectetur adipisicing elit. Eaque earum rem, quidem dolorum explicabo at ducimus aliquam sequi consectetur quaerat ab dolorem quasi oditipsum dolor sit amet consectetur adipisicing elit. Eaque earum rem, quidem dolorum explicabo at ducimus aliquam sequi consectetur quaerat ab dolorem quasi odit', '542', '17')
            +storyItem('./images/img-blog2.png', '14', 'Jan', 'Lorem ipsum dolor sit amet.', 'ipsum dolor sit amet consectetur adipisicing elit. Eaque earum rem, quidem dolorum explicabo at ducimus aliquam sequi consectetur quaerat ab dolorem quasi odit', '542', '17')
            +storyItem('./images/img-blog3.png', '12', 'Jan', 'Lorem ipsum dolor sit amet.', ' ipsum dolor sit amet consectetur adipisicing elit. Eaque earum rem, quidem dolorum explicabo at ducimus aliquam sequi consectetur quaerat ab dolorem quasi odit', '542', '17')
section.map 
    .container
        a.map-link(href="#")
            img.map-icon(src="./images/img-map-icon.png", alt="")
            span.map-title Open map