section.team
    .container
        +blockBox('Who we are', 'Meet our team', 'ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloribus quas rem in eius unde molestiae natus dolores, sapiente illum amet distinctio consequatur ipsam deleniti, quia tenetur, praesentium reprehenderit quaerat.')
        .team-list
            +teamItem('./images/img-team1.png', 'Matthew dix', 'Graphic design')
            +teamItem('./images/img-team2.png', 'Christopher campbell', 'Branding/UX design')
            +teamItem('./images/img-team3.png', 'michael fertic', 'Developer')
section.brand
    .container
        img.brand-image(src="./images/img-brand.png")