section.work 
    .container 
        +blockBox('What we do', 'Some of our work', 'ipsum dolor sit, amet consectetur adipisicing elit. Possimus dolor eligendi corporis. Dolor atque officiis, adipisci perferendis mollitia odio praesentium, ipsum temporibus quisquam tempora doloremque laudantium quos vel blanditiis eaque?')
    .work-container
        .work-list 
            +workItem('./images/img-work1.png', 'Creativety design', 'Lorem ipsum dolor sit.')
            +workItem('./images/img-work2.png', 'Creativety design', 'Lorem ipsum dolor sit.')
            +workItem('./images/img-work3.png', 'Creativety design', 'Lorem ipsum dolor sit.')
            +workItem('./images/img-work4.png', 'Creativety design', 'Lorem ipsum dolor sit.')
            +workItem('./images/img-work5.png', 'Creativety design', 'Lorem ipsum dolor sit.')
            +workItem('./images/img-work6.png', 'Creativety design', 'Lorem ipsum dolor sit.')
            +workItem('./images/img-work7.png', 'Creativety design', 'Lorem ipsum dolor sit.')
            